/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-rows: repeat(5, 124px);
	grid-template-columns: repeat(4, 242.5px);
	gap: 10px;
}

#grid div{
	padding:20px;
	background-color:green;
	color:white;
	font-size:40px
}

.one{
	grid-column: span 4 / auto;
}

.two{
	grid-column: span 1 / auto;
	grid-row: span 4 / auto;
}

.three{
	grid-column: span 1 / auto;
}

.four{
	grid-column: span 2 / auto;
}

.five{
	grid-column: span 2 / auto;
}

.six{
	grid-column: span 1 / auto;
}

.seven{
	grid-column: span 1 / auto;
}

.eight{
	grid-column: span 1 / auto;
}

.nine{
	grid-column: span 1 / auto;
}

.ten{
	grid-column: span 3 / auto;
}